/* color palette
  seashell #D89384
  lint #B6D2A5
  emerald #016236
  neon #04DC77
  kelly green #18A558 */

  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    color: #1e1f26;
    margin: 0;
    overflow-x: hidden;
  }

  div {
    padding: 10px;
  }

  ul {
    list-style-type: none;
  }

  .header {
    background-color: #B6D2A5;
    text-align: center;
    color: #ffffff;
    padding: 10px;
  }

  .footer {
    background-color: #B6D2A5;
    text-align: center;
    color:#ffffff;
    padding: 10px;
  }

  .button {
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .delete {
    background-color: #D89384;
  }

  .update {
    background-color: #016236;
  }

  .give-care {
    background-color: #B6D2A5 ;
  }
  
  .save {
    background-color: #18A558;
  }

 